body, html {
    background-color: rgb(25, 135, 84);
    font-family: Arial, Helvetica, sans-serif;
}

.main-header h1 {
    text-align: center;
    color: white;
}

.forecast-single-day {
    font-size: 12px;
}

