body, html {
  background-color: #1A374D;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header h1 {
  text-align: center;
  color: white;
}

.forecast-single-day {
  font-size: 12px;
}

#appBg {
  background-color: #1A374D;
  color: white;
}
